.navbar-brand {
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.icons {
    color: white;
    font-size: 30px;

}

.icons>a {
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}