.experience>.container {
    background-color: purple;
    color: White;
    /* margin-bottom: 10px; */
}

.experience>.container>h1 {
    color: white;
    border: 2px solid white;
}

.experience>.container>.accordian>.card>.card-header {
    background-color: yellow !important;

}

.experience>.container>.accordian>.card:hover {
    transform: none;
}