.footer {
    margin-top: 10px;
    background-color: purple;
    color: white;
    font-family: 'Roboto', sans-serif;

    /* position: fixed; */
    /* border-top-width: 5px;
    border-color: white; */
}

h5 {
    font-family: "Oswald", sans-serif;
}