.home {
  margin: auto;
}

.carousel-inner {
  object-position: 100% 0;
  height: 100%;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1 {
  font-family: 'Squada One', cursive;
  /* text-shadow: 2px 2px 4px hotpink; */
  color: purple;
}

.carousel-caption {
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}



@media (min-width: 576px) {
  .carousel-caption {
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 5vw;
    margin-bottom: 20px;
  }
}


@media (min-width: 768px) {
  .carousel-caption {
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 5vw;
    margin-bottom: 20px;
  }
}


@media (min-width: 992px) {
  .carousel-caption {
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 8vw;
    margin-bottom: 20px;
  }
}


@media (min-width: 1200px) {
  .carousel-caption {
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 15vw;
    margin-bottom: 20px;

  }

}


.ProgrammingLanguage {
  background-image: url("../assets/logos/heart-regular-purple.svg");
  background-repeat: repeat;
  background-size: 65px 65px;
  background-color: white;
  /* transform: rotate(30deg); */
  /* padding: 50px */
}