.home {
  margin: auto;
}

.carousel-inner {
  object-position: 100% 0;
  height: 100%;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1 {
  font-family: 'Squada One', cursive;
}

.carousel-caption {
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 15rem;
  margin-bottom: 50px;
}