.card {
    display: inline-block;
    width: 250px;
    height: 250px;
    /* border-radius: 25%; */
    /* background-color: white; */
    margin-right: 25px;
    margin-top: 25px;
    border: 2px solid purple;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);

    /* margin-top: 25px; */
    /* color: white; */
}

.card-title {
    font-family: 'Oswald', sans-serif;
    color: purple;
}

/* .card {
    width: 18rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-top: 100px;

} */

.card.img {
    width: 200px;
    height: 200px;

}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}



.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}